@media screen and (max-width:500px) {
#logoContainer > span {
	font-size: 2vh;
}
.hamburger {
	font-size: 5vh;
	order: 3;
	margin-left: 3vw;
}

#today {
	margin-right: 2vw;
}

main {
	height: 88svh;
}

header {
	height: 7svh;
}

section {
	height: 5svh;
}

main > div > h2 {
	font-size: 4vw;
}


#modalWindow {
	width: 92vw;
}

h2 + p {
	font-size: 80%;
}

#noExAdded {
	text-align: center;
	margin-left: 20vw;
	margin-right: 20vw;
}

#backButton {
	margin-left: 20vw;
}

h3 {
	text-align: center;
	text-decoration: underline;
}

input {
	font-size: 16px;
}

#calendarWindow {
	width: 92vw;
}

.workoutBoxHeading {
	font-size: 2vh;
}

.setListing {
	font-size: 1.75vh;
}

.close, .close2 {
	width: 5vw;
	margin: 3vw 3vw 0 0;
	align-self: flex-end;
}

#exName {
	display: block;
	width: 80% !important;
}

#arrowLeftContainer, #arrowRightContainer {
	width: 8vw;
}

#todayAndCalendar {
	width: 84vw;
}

#arrowLeft {
	margin-left: 2vw;
}
}