body {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	background: black;
	margin: 0.1vh;
	padding: 0.1vh;
	font-family: "Krona One"
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5vw;
	height: 14vh;
	background: #e2e3dd;
	border-bottom: 3px solid #46c53b;
	padding-right: 4vw;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top: 2px solid #f7cd16;
	height: 5vh;
}

#logo {
	height: 100%;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 1vh;
	width: 30vw;
	margin-right: 4vw;
}

nav li {
	border-bottom: 3px solid #46c53b;
}

a:link {
	color: #46c53b;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #f7cd16;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #46c53b;
	text-decoration: none;
	font-weight: bold;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	background: #46c53b;
	border-top: 3px solid #f7cd16;
	background: #e2e3dd;
}

footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 50vw;
	font-size: 14px;
	list-style-type: none;
}

span {
	color: #46c53b;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10vw;
}

details {
	color: white;
	margin-bottom: 1vh;
}

#faqsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	border-bottom: 4px solid #46c53b;
	height: 70.7vh;
}

h2 {
	color: white;
	font-size: 4vh;
	text-align: center;
	margin-top: 0;
}

p {
	color: #46c53b;
}

@media screen AND (max-width: 500px) {
#logo {
	height: 75%;
}

nav ul {
	width: 70vw;
	margin-right: 8vw;
}

footer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50vw;
	font-size: 10px;
	list-style-type: none;
	
}

h1 {
	font-size: 4vw;
}

@media screen AND (max-width: 500px) {
summary {
	width: 70vw;
	margin-left: 10vw;
}
}