* {
	margin: 3vh 0 0 0;
	padding: 0;
	background: #e2e3dd;
	font-family: "Krona One";
	text-align: center;
}

h2 {
	text-decoration: underline;
}

span {
	display: inline-block;
	color: #46c53b;
	width: 25vw;
	font-size: 5vh;
}

img {
	height: 3vh;
	display: block;
	text-align: left;
	margin-left: 3.2vw;
}

#profileVolume {
	font-size: 3.5vh;
}

#backFromProfile:hover {
	cursor: pointer;
}